html,body{
  margin: 0;
  padding: 0;
  color: #555;
}

.index{
  position: fixed;
  top: 100px;
  left: -200px;
  border-right: 1px solid #ddd;
  width: 250px;
  background: #fff;
  transition: left 300ms ease;
}
.index .arrow{
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-right: 10px solid #999;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
}
.index ul{
  list-style: none;
  overflow: scroll;
  height: 400px;
}
.index li{
  font-size: 18px;
  line-height: 36px;
}

.view{
  padding: 80px 200px;
}
.page{
  display: none;
  font-size: 18px;
  line-height: 24px;
}
.page_active{
  display: block;
}
